@import './variables';

.card{

    &--{

        &small{
            background-color: $pudra;


        }

        &large{

            background-color: $pudra;

        }
    }
}

button {
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}